{% extends 'blog/base.html' %}
{% block nav %}
{% for category in categories  %}
<li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="#"> {{category.title}} </a></li>

{% endfor %}
{% endblock %}
{% block main %}
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            <a href="{% url 'blog:category_details' category.slug %}"><h4 class="alert alert-primary text-center" > دسته بندی: {{category.title}} </h4></a>
            {% for article in category.articles.published_manager %}
                <div class="post-preview">
                    <a href=" {% url 'blog:details' article.slug %} ">
                        <h2 class="post-title"> {{article.title}} </h2>
                        <time>تاریخ {{article.jpublished}}</p>
                        <h3 class="post-subtitle"> {{article.description | truncatewords:20}} </h3>
                    </a>
                    <p class="post-meta">منتشر شده توسط : <a href="#!">یوسف ارسطو</a></p>
            </div>
            {% endfor %}
            <!-- Divider-->
            <hr class="my-4" />
            <!-- Pager-->
            <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
        </div>
    </div>
</div>
{% endblock %}