{% extends 'blog/base.html' %}
{% block main %}
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            {% for article in articles %}
                <div class="post-preview">
                    <a href=" {% url 'blog:details' article.slug %} ">
                        <h2 class="post-title"> {{article.title}} </h2>
                        <p>تاریخ {{article.jpublished}}</p>
                        <h3 class="post-subtitle"> {{article.description | truncatewords:20}} </h3>
                    </a>
                    <p class="post-meta">منتشر شده توسط : <a href="#!">یوسف ارسطو</a></p>
            </div>
            {% endfor %}
            <!-- Divider-->
            <hr class="my-4" />
            <!-- Pager-->
            <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
        </div>
    </div>
</div>
{% endblock %}