
/* to use cdn for font :  */
/* @import url(''); */

@font-face {
  font-family: Sahel;
  src: url('../fonts/Sahel/Sahel.eot');
  src: url('../fonts/Sahel/Sahel.ttf'),
       url('../fonts/Sahel/Sahel.woff') ,
       url('../fonts/Sahel/Sahel.woff2');
}
  
body{

  direction: rtl !important;
  text-align: right;
  font-family: Sahel !important;
}


.myfont,.focus-input100::after {
  font-family: Sahel;
}


.btn-show-pass{
  right: initial;
  left: 0;
}

.errors{
  color: #a41515;
  background-color: #ce6f6f;
  padding: 20px 30px;
}